.my_photo {
  border: 5px solid white;
  border-radius: 150px;
  display: block;
  margin: 0 auto;
  max-width: 150px;
  box-shadow: -9px 9px 20px 1px rgba(0, 0, 0, 0.2);
  float: left;
  margin: 0 15px 15px 0;
}

em {
  color: #337ab7;
  font-style: italic;
}

.divider {
  clear: both;
}

h1.bio-main {
  font-weight: 100;
}

h2.bio-title {
  margin: 1em 0 .2em 0;
}

h3.bio-greetings {
  color: #337ab7;
  letter-spacing: 3px;
}
